.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
images/**/*.gif
tsconfig.json
vsc-extension-quickstart.md
tslint.json
typings.json
webpack.config.js
browser/**
browserdist/**
geomoji/**
images/**.gif
