*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	background-color: var(--vscode-editor-background);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: var(--vscode-editor-foreground)
}

.hidden {
	display: none !important;
}

.disabled {
	pointer-events: none;
}

.btn_used-by-bootstrap-hence-not-used {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border-style: none;
}

.btnx {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border-style: none;
}

.media {
	display: flex;
	align-items: flex-start;
}

.media .media-image {
	margin: 0 1em 0 0;
}

.xxsss{
	background-image: url('../resources/icons/dark/status-added.svg')
}

.media .media-content {
	flex: 1;
}

.media.right {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.media.right .media-image {
	margin: 0.8em 0.5em 0 0;
}

div.appRootParent {
	height: 100vh;
	overflow: hidden;
}
div.appRoot {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

#log-view,
.log-view {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

#log-view.with-details {
	height: calc(100% - 20rem);
}

#log-view.with-details.with-details-resized {
	height: 20rem;
}

#log-view svg.commitGraph,
.log-view svg.commitGraph {
	position: absolute;
	top: 0;
	left: 0;
}

#log-view svg.commitGraph,
.log-view svg.commitGraph path {
	stroke-width: 3;
	fill: none;
}

#log-view svg.commitGraph,
.log-view svg.commitGraph circle {
	stroke: white;
	stroke-width: 0.1em;
	fill: #333;
}

#commit-history {
	padding: 0;
}

.log-entry {
	position: relative;
}

.log-entry .media-content {
	position: relative;
	overflow: hidden;
    cursor: pointer;
    min-width: 15em;
    padding: 0.5em;
}

.log-entry .media-image {
	min-width: 6em;
}

.log-entry .media-image.ref {
	min-width: 1em;
}

.log-entry a.commit-subject-link {
	display: block;
	height: 1em;
	position: absolute;
	width: 100%;
	color: transparent !important;
}

.log-entry .commit-subject-link:hover~.commit-subject,
.log-entry .commit-subject-link~.commit-subject:hover {
	text-decoration: underline;
	cursor: pointer;
}

.log-entry .commit-subject {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.log-entry img.avatar {
	height:15px;
    width:15px;
    float:left;
    margin:0.2em 0.4em 0.2em 0;
}

.authorAndCommitInfoContainer {
    display:inline-block;
    width:100%;
}
.authorAndCommitInfoContainer img.avatar {
    height:80px;
    width:80px;
    float: left;
    margin-right: 0.5em;
}

.commit-subject {
	font-weight: bold;
}

.commit-author {
	font-size: 0.8em;
	margin-top: 0.2em;
	position: relative;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.commit-author .timestamp {
	opacity: 0.7;
}

.commit-hash-container {
    background-color: var(--vscode-inputValidation-infoBackground);
    color: var(--vscode-input-foreground);
    white-space: nowrap;
}

.commit-remote-container,
.commit-tag-container,
.commit-head-container {
    border-radius: 5px;
}

.commit-head-container {
	background-color: var(--vscode-editorGutter-addedBackground);
	white-space: nowrap;
}

.commit-remote-container {
	background-color: var(--vscode-editorGutter-deletedBackground);
}

.commit-tag-container {
	background-color: var(--vscode-terminal-ansiBrightBlack);
}

.commit-remote-container .refs,
.commit-tag-container .refs,
.commit-head-container .refs {
	display: block;
	color: white;
	font-size: 75%;
    padding: 0.25em 0.5em;
    display: flex;
}

.commit-remote-container .refs span,
.commit-tag-container .refs span,
.commit-head-container .refs span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: inline-block;
}

.commit-remote-container .refs span:first-of-type,
.commit-tag-container .refs span:first-of-type,
.commit-head-container .refs span:first-of-type {
    padding-right: 0.2em;
}

.commit-hash-container .commit-hash,
.commit-hash-container .copy-button {
	display: inline-block;
	color: var(--vscode-input-foreground);
	padding: 0.2em;
	cursor: pointer;
}

.commit-hash-container .cherry-pick-button {
	display: inline-block;
	color: var(--vscode-input-foreground);
	padding: 0.2em;
}

.commit-hash-container .commit-hash {
	padding-right: 0.4em;
}

.cherry-pick-button a,
.cherry-pick-button a:hover {
	color: white;
}

.commit-hash-container .cherry-pick-button {
	display: inline-block;
	color: var(--vscode-input-foreground);
	padding: 0.2em;
}

.cherry-pick-button a,
.cherry-pick-button a:hover {
	color: var(--vscode-input-foreground);
}

.commit-hash-container .commit-hash:hover {
	background-color: hsla(0, 0%, 100%, 0.12);
}

.commit-hash-container .copy-button {
	position: relative;
	/* compensate for octicon margin */
	padding-left: 0.6em;
}

.copy-button .clipboard {
	opacity: 0.8;
}

.copy-button .clipboard:hover {
	opacity: 1;
}

.copy-button .clipboard-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.sha-code {
	font-family: Consolas, 'Courier New', monospace;
}

.sha-code.short {
	width: 7em;
}

.log-entry.active .commit-hash-container {
	background-color: var(--vscode-inputValidation-infoBackground);
}

.log-entry.active .commit-subject {
	color: var(--vscode-textLink-foreground);
}

.log-entry.active .commit-author {
	color: var(--vscode-textLink-foreground);
}

header {
    margin-bottom: 0.5em;
}

header input, header button {
    margin: 0.2em;
}


/* Navigation*/

#history-navbar {
	text-align: right;
	/* Approximation for scroll bar width of 15px*/
	margin: 0.5em 1em;
}

#history-navbar .navbar {
	list-style: none;
	display: inline-flex;
	font-size: 12px;
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	background-color: hsla(204, 70%, 40%, 1);
	padding: 0;
    margin: 0;
    min-height: inherit;
    border-radius: 0;
}

.navbar .navbar-item {
	text-align: center;
	color: white;
	overflow: hidden;
	white-space: nowrap;
}

.navbar-item .navbar-link {
	color: currentcolor;
	text-decoration: none;
	cursor: pointer;
	display: block;
	line-height: 22px;
	padding: 0 1em;
}

.navbar-item .navbar-link:hover {
	/* hover style for the link, uses vscode's styles */
	background-color: hsla(0, 0%, 100%, 0.12);
}

.navbar-item.previous .navbar-link {
	border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}

.navbar-item .octicon {
	/* align the icons with text */
	vertical-align: -10%;
}

.navbar-item.previous .octicon {
	margin: 0 5px 0 0;
}

.navbar-item.next .octicon {
	margin: 0 -5px 0 5px;
}

.navbar-item.disabled {
	color: hsla(0, 0%, 100%, 0.5);
}


/* Errors */

.error-box {
	text-align: center;
	color: #c33;
	padding: 3rem;
}

.error-box {
	animation-duration: 0.75s;
}

.error-box .error-icon>i {
	font-size: 4em;
	margin-right: 0;
}

.error-box .error-title {
	font-weight: lighter;
}

.error-box .error-details {
	font-weight: normal;
}


/* Details View */
.hidden {
	display:none;
}
.detailsCnt {
    overflow: auto;
}
#details-view {
	padding: 1rem 1rem 0 1rem;
}
#details-view .action-btn {
	float: right;
	cursor: pointer;
	opacity: 0.8;
	z-index: 5;
	position: fixed;
    right: 20px;
}

#details-view .action-btn:hover {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

div.commitCntDrag {
	width: 100vw !important;
	display: block !important;
	height: 200px;
}

div.react-draggable.react-draggable-dragged,
div.react-draggable {
	width: 100% !important;
	bottom: 45px !important;
	position: absolute;
}

div.details-view-cnt {
	bottom: 30px;
    overflow-x: hidden;
    background: var(--vscode-editor-background);
    border-top: 1px solid hsla(0, 0%, 100%, 0.50);
	max-height: 50vh !important;
}

#details-view .commit-subject {
	font-size: 1.4em;
	font-weight: lighter;
	margin: 0;
}

#details-view .commit-body,
#details-view .commit-notes {
	margin: 1em 0;
	white-space: pre;
}

#details-view .commit-body:empty,
#details-view .commit-notes:empty {
	display: none;
}

#details-view .committed-files {
	list-style: none;
	margin: 0 0;
	padding: 0;
}

.committed-files .diff-row , .diff-row {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0.5em 0;
}

.diff-row div.file-name-cnt {
	display: inline-block;
	position: relative;
}

.committed-files .file-name, .file-name {
	display: inline-block;
	padding-left: 0.5em;
}

.committed-files a.file-name, a.file-name {
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
}

.file-name-cnt:hover .file-name , .file-name-cnt:hover .file-name {
	text-decoration: underline;
	cursor: pointer;
}

.diff-row .diff-stats {
	display: inline-block;
	vertical-align: -0.1em;
}

.diff-stats .diff-count {
	display: inline-block;
	vertical-align: middle;
	font-family: Consolas, Courier New, monospace;
	font-size: 0.9em;
	text-align: right;
	width: 4em;
}

.diff-stats .diff-block {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 1px;
	color: gray;
	background-color: currentcolor;
}

.diff-block.added {
	background-color: var(--vscode-terminal-ansiGreen);
}

.diff-block.deleted {
	background-color: var(--vscode-terminal-ansiRed);
}


/* Dropdown Menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.dropdown-content a {
	color: black;
	padding: 0.2em;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdow§n-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn {
    color: var(--vscode-input-foreground);
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-background);
    border-radius: 0;
}

.btn:focus {
    border: var(--vscode-focusBorder);
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 0;
}

.btn:hover {
    color: var(--vscode-breadcrumb-focusForeground);
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-focusBorder);
}

.btn-warning:hover {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-inputValidation-warningBorder);
}

.btn-info:hover {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-inputValidation-infoBorder);
}

.textInput {
    position: relative;
    top: 1px;
    left: 2px;
    font-size: 12px;
    line-height: 1.5;
	padding: 5px 10px;
	width: 250px;
    color: var(--vscode-input-foreground);
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-background);
    border-radius: 0;
}

.textInput:focus {
    outline: none;
    border: 1px solid var(--vscode-focusBorder);
}

