*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    padding: 0;
}
html {
  font-size: 62.5%; /* make 1rem = 10px */
}
body {
    font-size: 16px;
}

.hidden {
    display: none !important;
}
.disabled {
    pointer-events:none;
}
.btn {
    cursor: pointer;
}

.media {
    display: flex;
    align-items: flex-start;
}
.media .media-image {
    margin: 0 1em 0 0;
}
.media .media-content {
    flex: 1;
}
.media.right {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.media.right .media-image {
    margin: 0 0 0 1em;
}

#log-view {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#log-view.with-details {
    height: calc(100% - 20rem);
}
#log-view.with-details.with-details-resized {
    height: 20rem;
}

#log-view svg {
    position: absolute;
    top: 0;
    left: 0;
}

#log-view svg path {
    stroke-width: 3;
    fill: none;
}

#log-view svg circle {
    stroke: white;
    stroke-width: 0.1em;
    fill: #333;
}

#commit-history {
    padding: 0;
}

.log-entry {
    padding: 1em;
    position: relative;
    border-bottom: 1px solid hsla(0,0%,100%,0.3);
}

.log-entry .media-content {
    position: relative;
    overflow: hidden;
}
.log-entry .media-image {
    min-width: 6em;
}

.log-entry .commit-subject-link {
    display: block;
    height: 1em;
    position: absolute;
    width: 100%;
    color: transparent;
}

.log-entry .commit-subject-link:hover ~ .commit-subject,
.log-entry .commit-subject-link ~ .commit-subject:hover {
    text-decoration: underline;
    cursor: pointer;
}

.commit-subject {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commit-author {
    font-size: 0.8em;
    margin-top: 0.2em;
    position: relative;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}
.commit-author .timestamp {
    opacity: 0.7;
}

.commit-hash-container {
    background-color: hsla(204,80%,40%,1);
    white-space: nowrap;
}

.commit-head-container {
    background-color:#438a43;
    white-space: nowrap;
}

.commit-remote-container {
    background-color:#7d3d40;
}

.commit-remote-container .refs, .commit-head-container .refs {
    display: inline-block;
    color: white;
    font-size: 75%;
    padding: 0.3em;
}

.commit-hash-container .commit-hash,
.commit-hash-container .copy-button {
    display: inline-block;
    color: white;
    padding: 0.4em;
}

.commit-hash-container .cherry-pick-button {
    display: inline-block;
    color: white;
    padding: 0.4em;
}

.cherry-pick-button a, .cherry-pick-button a:hover {
    color: white;
}

.commit-hash-container .commit-hash:hover {
    background-color: hsla(0,0%,100%,0.12);
}

.commit-hash-container .copy-button {
    position: relative;
    /* compensate for octicon margin */
    padding-left: 0.8em;
}
.copy-button .clipboard {
    opacity: 0.8;
}
.copy-button .clipboard:hover {
    opacity: 1;
}
.copy-button .clipboard-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.sha-code {
    font-family: Consolas, 'Courier New', monospace;
}
.sha-code.short {
    width: 7em;
}

.log-entry.active .commit-hash-container {
  background-color: yellowgreen;
}
.log-entry.active .commit-subject {
  color: yellowgreen;
}
.log-entry.active .commit-author {
  color: yellowgreen;
}

/* Navigation*/

#history-navbar {
    text-align: right;
    margin: 1em 0 0.5em;
    position: relative;
}
#history-navbar .navbar {
    list-style: none;
    display: inline-flex;
    font-size: 12px;
    border: 1px solid hsla(0,0%,0%,0.2);
    background-color: hsla(204,70%,40%,1);
    padding: 0;
}
.navbar .navbar-item {
    text-align: center;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}
.navbar-item .navbar-link {
    color: currentcolor;
    text-decoration: none;
    cursor: pointer;
    display: block;
    line-height: 22px;
    padding: 0 1em;
}
.navbar-item .navbar-link:hover {
    /* hover style for the link, uses vscode's styles */
    background-color: hsla(0,0%,100%,0.12);
}
.navbar-item.previous .navbar-link {
    border-right: 1px solid hsla(0,0%,100%,0.5);
}
.navbar-item .octicon {
    /* align the icons with text */
    vertical-align: -10%;
}
.navbar-item.previous .octicon {
    margin: 0 5px 0 0;
}
.navbar-item.next .octicon {
    margin: 0 -5px 0 5px;
}
.navbar-item.disabled {
    color: hsla(0,0%,100%,0.5);
}


/* Errors */

.error-box {
    text-align: center;
    color: #c33;
    padding: 3rem;
}

.error-box {
  animation-duration: 0.75s;
}

.error-box .error-icon > i {
    font-size: 4em;
    margin-right: 0;
}

.error-box .error-title {
    font-weight: lighter;
}

.error-box .error-details {
    font-weight: normal;
}


/* Details View */

#details-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    overflow: auto;
    padding: 1rem;
    border: 1px solid hsla(0,0%,100%,0.12);
    border-top: 1px solid hsla(0,0%,100%,0.50);
    border-bottom: none;
}

#details-view.resized {
    height: calc(100% - 20rem);
}

#details-view .action-btn {
    font-size: 1.2rem;
    float: right;
    padding: 1rem; /* increases the hit-area */
    cursor: pointer;
    opacity: 0.8;
    z-index: 5;
}
#details-view .action-btn:hover {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

#details-view.resized .action-btn.resize-btn{
    display: none;
}
#details-view .action-btn.resume-btn{
    display: none;
}
#details-view.resized .action-btn.resume-btn{
    display: block;
}

#details-view .commit-subject {
    font-size: 1.4em;
    font-weight: lighter;
    line-height: 2;
    margin: 0;
}

#details-view .commit-body,
#details-view .commit-notes {
    margin: 2em 0;
}

#details-view .commit-body:empty,
#details-view .commit-notes:empty {
    display: none;
}

#details-view .committed-files {
    list-style: none;
    margin: 1em 0 0;
}

.committed-files .diff-row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.5em 0;
}
.diff-row div.file-name-cnt {
    display: inline-block;
    position:relative;    
}
.committed-files .file-name {
    display: inline-block;
    padding-left: 0.5em;
}
.committed-files a.file-name {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
}
.committed-files .file-name-cnt:hover .file-name {
    text-decoration: underline;
    cursor: pointer;
}
.diff-row .diff-stats {
    display: inline-block;
    vertical-align: -0.1em;
}

.diff-stats .diff-count {
    display: inline-block;
    vertical-align: middle;
    font-family: Consolas, Courier New, monospace;
    font-size: 0.9em;
    text-align: right;
    width: 4em;
}
.diff-stats .diff-block {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    color: gray;
    background-color: currentcolor;
}
.diff-block.added {
    background-color: green;
}
.diff-block.deleted {
    background-color: maroon;
}



/* Dropdown Menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 0.2em;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}