name: Validate PR

on:
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm install
    - run: npm run vscode:prepublish
    - run: npm run test
  Test_Extension:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm install
    - name: Compile
      run: tsc --skipLibCheck -p ./
    - name: Start xvfb
      run: /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - name: Run extension tests
      env:
        DISPLAY: ':99.0'
      run: npm run test-extension
